.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  // border: 1px solid var(--color-dark-gray);

  .about-header {
    grid-column: 1 / -1;
    padding: 1.5rem;
    border-bottom: 1px solid var(--color-dark-gray);
  }

  .about-intro {
    background-color: var(--color-primary);
    padding: 1.5rem 1.5rem 4.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid var(--color-dark-gray);
    border-bottom: 1px solid var(--color-dark-gray);
  }

  .about-image {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .about-image-top {
    border-bottom: 1px solid var(--color-dark-gray);
  }

  .about-image-bottom {
    border-right: 1px solid var(--color-dark-gray);
  }

  .about-vision {
    padding: 1.5rem 1.5rem 4.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;

    .about-intro,
    .about-image-top,
    .about-image-bottom,
    .about-vision {
      border-right: none;
    }
  }
}

.about-cta {
  border-top: 1px solid var(--color-dark-gray);
  border-top: none;

  .about-cta-image {
    position: relative;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .about-cta-text {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      color: white;
      max-width: 50%;
    }
  }

  .about-cta-bottom {
    background-color: var(--color-primary-light);
    text-align: center;
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    p {
      margin: 0;
    }

    .btn-primary {
      width: fit-content;
      font-weight: 600;
      background-color: var(--color-primary);
      color: var(--color-text);
      text-decoration: none;
      padding: 0.5rem 1.2rem;
      border-radius: 8px;
      &:hover {
        transition: background-color 0.3s ease;
        background-color: var(--color-text);
        color: var(--color-white);
      }
    }
  }
}
